* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.dropmenu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
}

.btn-menu {
    padding: 30px 50px;
    display: block;
    font-size: 30px;
    background: salmon;
    border:5px double #46db19;
    border-radius: 10px;
}

.btn-menu:hover {
    background-color: rgba(15, 238, 89, 0.4);
    cursor: pointer;
}

.menu li {    
    
    list-style-type: none;
    background-color: salmon;  
    border-radius: 10px;  
    border-top: 1px solid white;
}

.menu li:hover {
    background-color: rgba(0, 0, 0, 0.3);
    cursor:  pointer;
    
}

.menu li a {
    display: block;
    padding: 30px 50px;
    font-size: 30px;
    text-decoration: none;
    font-family: monospace;
    color: white;    
}

.menu {
    display: none;
    position: absolute;
}
.dropmenu:hover .menu {
    display: block;
}

